*{
    transition: all 0.3s ease;
}
body{
}
#nav {
    top: 0;
    padding: 10px;
    position: fixed;
    width: 250px;
    background-color: #FFFFFF;
    transition: all 0.5s ease;
    left: -2000px;
    z-index: 2;
    height: calc(100vh);
    padding-top: 25px;
}

/*#nav:hover {*/
    /*left: 0;*/
/*}*/

#content, #header{
    padding-left: 270px;
}

/*.nav-list-menu>li{*/
    /*padding: 5px;*/
    /*width: 100%;*/
    /*margin-bottom: 5px;*/
    /*min-height: 35px;*/
    /*padding-right: 5px;*/
    /*border-radius: 5px;*/
    /*text-transform: uppercase;*/
/*}*/

/*.nav-list-menu>li:hover{*/
    /*padding: 5px;*/
    /*width: 100%;*/
    /*margin-bottom: 5px;*/
    /*padding-right: 5px;*/
    /*border-radius: 5px;*/
    /*box-shadow: 2px 2px 7px #3333336b;*/
/*}*/

/*.nav-list-menu>li>a{*/
    /*color: #000;*/
    /*display: block; !* Ссылка как блочный элемент *!*/
    /*height: 100%; !* Высота на весь слой *!*/
/*}*/

/*.nav-list-menu>li>i{*/
    /*min-width: 28px;*/
    /*color: #fff;*/
    /*float: right;*/
    /*position: relative;*/
    /*top: -25px;*/
    /*padding: 5px;*/
    /*background-color: #757d84;*/
    /*border-radius: 5px;*/
    /*!* top: 0; *!*/
    /*text-align: center;*/
/*}*/

/*.dop-menu{*/
    /*overflow: hidden;*/
    /*height: 0;*/
    /*transform: scale(0);*/
/*}*/

.animateDD{
    transform: scale(1);
    height: auto;
}
a, a:hover{
    text-decoration: none !important;
}

/*.mdi-chevron-right::before{*/
    /*content: '→';*/
/*}*/
/*.mdi-chevron-left::before{*/
    /*content: '←';*/
/*}*/


